[Unit]
Description=gpg-npiperelay-agent-ssh-socket

[Socket]
ListenStream=%t/gnupg/S.gpg-npiperelay-agent.ssh
FileDescriptorName=agent-ssh-socket
SocketMode=0600
DirectoryMode=0700
Accept=no
Service=gpg-npiperelay-agent-ssh.service

[Install]
WantedBy=sockets.target
