[Unit]
Description=agent-browser-socket

[Socket]
ListenSequentialPacket=%t/gnupg/S.gpg-agent.browser
SocketMode=0600
Accept=no

[Install]
WantedBy=sockets.target
