[Unit]
Description=agent-socket

[Socket]
ListenStream=%t/gnupg/S.gpg-agent
FileDescriptorName=agent-socket
SocketMode=0600
DirectoryMode=0700
Accept=no
Service=gpg-bridge-wsl.service

[Install]
WantedBy=sockets.target
